<ul>
  <li>
    Name: <%= class_student.name %>
  </li>
  <li>
    Birthday: <%= class_student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= class_student.hometown.capitalize %>
  </li>
</ul>
